/* selector-max-specificity: 3 */
.a .b .c {
  color: test;
}

/* max-nesting-depth: 3 */
.parent {
  &Nested1 {
    &Nested2 {
      &Nested3 {
        &Nested4 {
          background: red;
        }
      }
    }
  }
}

/*
 * plugin/no-unsupported-browser-features
 * should only emit a warning
 */
.unsuported {
  display: flex;
}

/* bem ok */
.block {
  color: test;

  &-header {
    color: test;
  }

  &__element {
    color: test;

    &Suffix {
      color: test;
    }

    &-suffix {
      color: test;
    }

    &--modifier {
      color: test;

      &--modifier2 {
        color: test;
      }
    }
  }
}

/* bem error */
.block__element2 {
  color: test;

  // not '_' allowed
  &_suffix {
    color: test;
  }

  // 2 nested elements
  &__subElement {
    color: test;
  }

  &--modifier {
    color: test;

    &--modifier2 {
      color: test;

      // 3 modifiers
      &--modifier3 {
        color: test;
      }
    }
  }
}

/** end */